
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.div_container{
    background-color: aqua;
    height: 100vmin;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_inputs{
    padding: 16px;
}